aniso8601
asttokens
attrs
azure-common
azure-core
azure-identity
azure-mgmt-core
azure-mgmt-recoveryservices
azure-mgmt-recoveryservicesbackup
azure-mgmt-resource
azure-mgmt-storage
backcall
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
decorator
defusedxml
docopt
executing
fastjsonschema
Flask
Flask-RESTful
flask-restx
flask-swagger
idna
importlib_resources
ipython
isodate
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
msal
msal-extensions
nbclient
nbconvert
nbformat
packaging
pandocfilters
parso
pickleshare
platformdirs
portalocker
prompt_toolkit
pure-eval
pycparser
Pygments
PyJWT
pyodbc
python-dateutil
pytz
PyYAML
pyzmq
referencing
requests
rpds-py
six
soupsieve
stack-data
tinycss2
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
Werkzeug
yarg
